geo-chart {
    position: relative;
    width: 100%;
    height: max-content;
}

.data_visualization {
    height: max-content;
    width: 100%;
}

.data_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}

.data_wrapper #geo_chart {
    height: 70%;
}

.data_wrapper .data_global {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.data_visualization .data_wrapper .data_global div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2em;
}

.data_visualization .data_wrapper .data_global div p:first-child {
    font-weight: bold;
    font-size: 1.5em;
}

.data_visualization .data_wrapper .data_global div p:last-child {
    font-size: 0.8em;
    font-weight: 200;
}

#detail_wrapper {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top , lavender , transparent );
    overflow: hidden;
}


@media screen and (max-width : 768px) { 

    .data_visualization .data_wrapper .data_global div {
        font-size: 0.6rem;
    }

}