.section-wrapper {
    height: max-content;
    background-color: #F5F4F4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0;
}

.section-wrapper img {
    width: 300px;
    margin: 50px 0;
}