.section-wrapper {
    height: 100vh;
    padding: 10px 15px;
    background-color: #F5F4F4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-wrapper img {
    margin: 50px 10px;
}

.description-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

p.menu {
    width: max-content;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 8px 18px rgba(78, 235, 194, 0.5);
    border-radius: 2em;
    border: solid 2px  rgba(78, 235, 194, 0.5) ;
    margin-bottom: 40px;
}

h2.title {
    margin: 10px 0 20px;
}

p.description {
    color: #999999;
    line-height: 1.7em;
}

.list ul {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.list ul li {
    display: flex;
    justify-content: start;
    list-style: none;
}

.list ul li img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto 0;
}

.list ul li p {
    height: max-content;
    margin: auto 5px;
}

@media(max-width:700px) {
    .section-wrapper img {
        flex: 0 ;
        width: 30%;
    }

    .description-wrapper {
        flex: 1.5;
    }

    p.description {
        line-height: 1.5em;
        font-size: 0.8em;
    }

    .list ul li p {
        font-size: 0.8em;
    }

    h2.title {
        font-size: 1em;
        font-weight: 200;
    }
}

@media (max-width:900px) {
    .section-wrapper img {
        width: 50%;
    }
}