.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.hero img {
    display: inline-block;
    width: 50%;
}

.hero .text-banner {
    width: 40%;
}

.hero .text-banner h1 {
    font-size: 4em;
    font-weight: 200;
    margin: 0;
}

.hero .text-banner p {
    margin: 0;
    color: #A1A2AA;
}

@media (max-width: 750px) {
    .hero .text-banner h1 {
        font-size: 2em;
    }

    .hero .text-banner p {
        font-size: 0.7em;
    }

    .hero img {
        width: 60%;
        height: 50%;
    }
}