
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.detail div {
    margin: 10px;
}

.detail-case {
    display: flex;
    box-shadow: 1px 3px 200px violet;
    background-color: black;
    border-radius: 1rem;
}


button#close_detail {
    padding: 5px 10px;
    border-radius: 1rem;
    outline: none;
    color: tomato;
    border: 1px solid tomato;
}

button#close_detail:hover {
    cursor: pointer;
    background-color: tomato;
    color: white;
}