.button-wrapper a {
    width: 40%;
    height: 3.5em;
    display: flex;
    margin-top: 20px;
    border: none;
    box-shadow: 0 8px 18px rgba(78, 235, 194, 0.5);
    border-radius: 2em;
    background-color: #48ebc0;
    text-decoration: none;
}

.button-wrapper a p {
    margin: auto !important;
    color: white !important;
    font-weight: 700;
}