.foot-bar1 {
    display: flex;
    padding: 10px 5%;
    background-color: darkgrey;
    justify-content: space-evenly;
    align-items: center;
}

.foot-bar1 .useLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-bar1 ul li {
    list-style: none;
    color: white;
    font-weight: bold;
}

.foot-bar1 ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px 0;
    font-weight: 500;
}

.foot-bar2 {
    background-color: rgb(88, 88, 88);
    padding: 10px 0;
}

.foot-bar2 p {
    margin: 0 5%;
    color: white;
    font-weight: 200;
    text-align: center;
}