nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #F5F4F4;
}

nav .logo {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    display: inline-block;
    text-decoration: none;
    height: min-content;
    align-items: center;
    margin-left: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin: 0 8px;
}