nav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 8px 18px rgba(223, 222, 222, 0.5);
}

nav .logo {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    display: inline-block;
    text-decoration: none;
    height: min-content;
    align-items: center;
    margin-left: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding-bottom: 5px;
    margin: 0 8px;
}

nav ul li:hover {
    border-bottom: solid 3px #48ebc0;
    border-radius: 3px;
    box-sizing: border-box;
}

nav ul li a:focus-within {
    color: #48ebc0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}