nav {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 8px 18px rgba(223, 222, 222, 0.5);
}

nav .logo {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    display: inline-block;
    text-decoration: none;
    height: min-content;
    align-items: center;
    margin-left: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding-bottom: 5px;
    margin: 0 8px;
}

nav ul li a:hover {
    color: #48ebc0;
}

.menu-clicked {
    color: #48ebc0;
    border: 2px solid #48ebc0;
    border-radius: 2em;
    box-shadow: 0 8px 18px rgba(78, 235, 194, 0.3);
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}